os: linux
dist: xenial
language: python
cache: pip
python:
  - "3.7"

notifications:
  email:
    on_success: never
    on_failure: always

install:
  - pip install .
  - pip install -r requirements-dev.txt

script:
  make travis

after_success:
  - bash <(curl -s https://codecov.io/bash)
